<div kendoDialogContainer></div>
<div kendoTooltip #tooltip="kendoTooltip" [showOn]="'hover'" filter='td span' position="right">
    <kendo-grid #grid [data]="view | async" [height]="800" [pageable]="true" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
        [sortable]="true" [navigable]="true" [reorderable]="true" [groupable]="true" [group]="gridState.group" [scrollable]="virtual" (dataStateChange)="onStateChange($event)"
        (cellClick)="cellClickHandler($event)" (cellClose)="cellCloseHandler($event)" (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)">
        <ng-template kendoGridToolbarTemplate>
            <button class='k-button' (click)="loadData();">Refresh</button>
            <button kendoGridAddCommand [disabled]="!editService.isDataLoaded">Add item</button>
            <button class='k-button' [disabled]="!editService.hasChanges()" (click)="saveChanges(grid); showErrorsDialog();">Save
                changes</button>
            <button class='k-button' [disabled]="!editService.hasChanges()" (click)="cancelChanges(grid);">Discard
                changes</button>
            <button class='k-button' [disabled]="!numberOfAdditionalItems || !editService.isDataLoaded" (click)="addSomeItems(grid);">Add {{
                numberOfAdditionalItems !== undefined ? numberOfAdditionalItems : 'some' }} random
                {{ numberOfAdditionalItems === 1 ? 'item' : 'items' }}</button>
            <button class='k-button' [disabled]="!validationErrors.length" (click)="showErrorsDialog();">Show Errors</button>
        </ng-template>
        <kendo-grid-column field="ProductID" title="HIDDEN" [hidden]=true></kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Product Name" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column" let-errors="validationErrors">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.ProductName }}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="UnitPrice" editor="numeric" title="Price" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.UnitPrice }}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Discontinued" editor="boolean" title="Discontinued" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.Discontinued }}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="UnitsInStock" editor="numeric" title="Units In Stock" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.UnitsInStock }}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ProductType.Name" title="Product Type" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.ProductType.Name }}
                </span>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-dropdownlist [data]='productTypes' [defaultItem]='defaultItem' [textField]="'Name'" [valueField]="'Id'" [formControl]="formGroup.get('ProductType')"></kendo-dropdownlist>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="Command bar" width="220">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridRemoveCommand>Remove</button>
                <button kendoGridSaveCommand>Add</button>
                <button kendoGridCancelCommand>Cancel</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>