<div kendoDialogContainer></div>
<div kendoTooltip #tooltip="kendoTooltip" [showOn]="'hover'" filter='td span' position="right">
    <kendo-grid 
    #grid
    [scrollable]="'virtual'"
    [skip]="gridState.skip"
    [rowHeight]="35"
    [pageSize]="gridState.take"
    [data]="view$ | async"
    [pageable]="true" 
    [sort]="gridState.sort"
    [sortable]="true" 
    [navigable]="true" 
    [reorderable]="true" 
    [groupable]="true"
    [filterable]="false"
    [group]="gridState.group" 
    
    (dataStateChange)="onStateChange($event)"
    (cellClick)="cellClickHandler($event)" 
    (cellClose)="cellCloseHandler($event)" 
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)" 
    (remove)="removeHandler($event)" 
    (add)="addHandler($event)"
    >
        <ng-template kendoGridToolbarTemplate>
            <button class='k-button' [disabled]="editService.isDataProcessing" (click)="refreshButtonHandler(grid);">{{ isDataLoaded ? 'Refresh' : 'Load' }}</button>
            <button kendoGridAddCommand [disabled]="!isDataLoaded || editService.isDataProcessing">Add item</button>
            <button class='k-button' [disabled]="!editService.hasChanges() || editService.isDataProcessing" (click)="saveChanges(grid); showErrorsDialog();">Save
                changes</button>
            <button class='k-button' [disabled]="!editService.hasChanges() || editService.isDataProcessing" (click)="cancelChanges(grid);">Discard
                changes</button>
            <button class='k-button' [disabled]="!numberOfAdditionalItems || !isDataLoaded || editService.isDataProcessing" (click)="addSomeItems();">Add {{
                numberOfAdditionalItems !== undefined ? numberOfAdditionalItems : 'some' }} random
                {{ numberOfAdditionalItems === 1 ? 'item' : 'items' }}</button>
            <button class='k-button' [disabled]="!validationErrors.length" (click)="showErrorsDialog();">Show Errors</button>
        </ng-template>
        <kendo-grid-column field="Id" title="Id" [hidden]=false></kendo-grid-column>
        <kendo-grid-column field="Name" title="Product Name" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column" let-errors="validationErrors">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.Name }}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Price" editor="numeric" title="Price" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.Price }}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Discontinued" editor="boolean" title="Discontinued" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.Discontinued }}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Quantity" editor="numeric" title="Units In Stock" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.Quantity }}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ProductType.Name" title="Product Type" class="no-padding">
            <ng-template kendoGridCellTemplate let-dataItem let-columnInfo="column">
                <span [style.backgroundColor]="markup(dataItem, columnInfo)" class="whole-cell" [title]="tooltipHandler(validationErrors, columnInfo, dataItem)">
                    {{ dataItem.ProductType.Name }}
                </span>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-dropdownlist [data]='productTypes' [textField]="'Name'" [defaultItem]='defaultItem' [valueField]="'Id'" [formControl]="formGroup.get('ProductType')"></kendo-dropdownlist>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="Command bar" width="220">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridRemoveCommand>Remove</button>
                <button kendoGridSaveCommand>Add</button>
                <button kendoGridCancelCommand>Cancel</button>
            </ng-template>
        </kendo-grid-command-column>
        <div *kendoGridDetailTemplate="let dataItem">
            <app-detail-grid [data]="dataItem"></app-detail-grid>
        </div>
    </kendo-grid>
</div>
